<div class="container p-5">
  <h3 class="mb-5 text-center"><%= @bank.name %></h3>  
  <div class="d-flex justify-content-center ">
    <div class="p-5">
    <h5>Websites: </h5>
    <% @websites.each do |website| %>
        <p><%= website.url %>
        <%= link_to website_path(website), method: :delete, data: {confirm: "Permanently delete website?"} do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
        </p>
    <% end %>
    </div>
    <div class="p-5">
      <%= simple_form_for [@bank, @new_website] do |f| %>
        <%= f.input :url, label: false, placeholder: "New URL", class: "d-inline-block" %>
        <%= f.button :submit, "Add", class: 'btn btn-primary d-inline-block' %>
      <% end %>
      <br><br>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Back', :back, class: 'btn btn-primary text-center d-inline'%>
  </div>
</div>
