  <div class="cards">
  <%= form_tag banks_path, class: "search", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a name..."%>
    <%= submit_tag "Search", class: "btn" %>
  <% end %>

    <% @banks.reverse.each do |b|%>
      <div class="card">
        <p class="card_title"><%= b.name.capitalize%></p class="card_title">
        <p class="card_text"><strong><%= link_to 'Website', "#{b.website}", target: '_blank', class: 'card_text' %>: </strong> <%= b.website%></p>
        <p class="card_text"><strong>Address:</strong> <%= b.address%></p>
        <p class="card_text"><strong>Country:</strong> <%= b.country.capitalize%></p>
      </div>
    <%end%>
  </div>
  <div class="action">
  <p class="action_claim">Need to add a new bank?</p>
  <%= link_to 'Create', new_bank_path, class: 'btn' %>
  </div>