<div class="form_container form_container-height">
<h2 class="h2">Edit <%= @bank.name.capitalize %></h2>
    <%= simple_form_for @bank do |f| %>
      <%= f.input :name  %>
      <%= f.input :address  %>
      <%= f.input :files, as: :file, input_html: { multiple: true } %>
      <%= f.input :country, priority: ["PT"]%>

      <%#= simple_fields_for @websites.first do |w| %>
        <%#= w.input :url, label: "Primary Website" %>
      <%# end %>



        <%#= link_to bank_websites_path(@bank), class: 'link d-block mb-2' do %>
          <%# <i class="far fa-plus-square"></i>
          <span>Manage Websites</span> %>
        <%#end%>
      <%# end %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>