<div class="contain">
  <%= form_tag banks_path, class: "search", method: :get do %>  
    <h1>Banks list</h1>
    <%= text_field_tag :query, params[:query], class: "search_input", placeholder: "Type a bank name..."%>
    <%= submit_tag "Search", class: "btn" %>
  <% end %>
  <div class="cards">

    <% @banks.reverse.each do |b|%>
      <div class="card">
        <p class="card_title"><strong><%= link_to "#{b.name}", bank_path(b.id), class: 'card_title', style: "text-decoration: none;" %></strong></p>
        <p class="card_text"><strong><%#= link_to 'Website', "#{b.website}", target: '_blank', class: 'card_text' %>: </strong> <%#= b.website%></p>
        <p class="card_text"><strong>Address:</strong> <%= b.address%></p>
        <p class="card_text"><strong>Country:</strong> <%= b.country.capitalize%></p>
        <div>
        <div class="card_action">


          <%= link_to bank_path(b), class: 'link' do %>
            <i class="fas fa-angle-right"></i>
            <span>See more</span>
          <%end%>
        </div>
        </div>
      </div>
    <%end%>
  </div>
</div>