<div class="container">
  <% if @user.admin %>
    <%= simple_form_for @bank do |f| %>
      <%= f.input :name  %>
      <%= f.input :website  %>
      <%= f.input :address  %>
      <%= f.country_select :country, prompt: 'Select Country' %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <h1>Does Not Have Permission to Access Content</h1>
  <% end %>
</div>