<div class="form_container">
<h2 class="h2">Add a new bank</h2>
  <% if @user.admin %>
    <%= simple_form_for @bank do |f| %>
      <%= f.input :name  %>
      <%#= f.input :website  %>
      <%= f.input :address  %>
      <%= f.country_select :country, prompt: 'Select Country', class: 'form-control string optional' %>
      <br>
      <%= f.submit class: 'btn' %>
    <% end %>
  <% else %>
    <h1>Does Not Have Permission to Access Content</h1>
  <% end %>
</div>