
<div class="bottom_nav">
  <span>Jump to: 
    <%= link_to 'Products', '#subproducts', class: 'nav_link' %>
    <% if current_user.admin?%>
    <%= link_to 'Users', '#users', class: 'nav_link' %>
    <%end%>
    <%= link_to 'Top', '#', class: 'nav_link' , id: 'scrollTop' %>
  </span>
</div>


  <%= render 'shared/flashes' %>

  <div class="contain">
    <%= link_to 'Back', :back , class: 'btn-outline float-right mb-4'%>
    <div class="logo_title">
      <h1>Bank:</h1>
      <%= cl_image_tag get_photo_key(@bank), class: 'bank-show' %>
    </div>  
    <div class="admin">
    <div class="details">
    <p><strong>Websites: </strong></p>
    <% @bank.websites.each do |w|%>
      <p><%= w.url%></p>
    <%end%>
    <p><strong>Address: </strong><%=@bank.address%></p>
    <p><strong>Country: </strong><%=@bank.country%></p>
    <% @file = @bank.documents.select{ |doc| doc.file_ext == 'Merged Pdf'} %>
    <p><strong>Files Source: </strong>
      <% if @file.any? %>
        <%= link_to @file.last.file_url, @file.last.file_url, class: 'link link-dark', target: '_blank'%>
      <%else%>
        'No Source Available'
      <%end%>
    </p>
  </div>


<% if current_user.admin?%>
<div class="actions">
  <h3 class="mb-3">Actions:</h3>
  <%= link_to check_updates_path, method: "POST", class: 'link mb-2' do %>
  <i class="fas fa-sync-alt"></i>
  <span>Look for New Price List</span>
  <%end%>

  <%= link_to bank_websites_path(@bank), class: 'link mb-2' do %>
    <i class="fas fa-link"></i>
    <span>Manage Websites</span>
  <%end%>
  <%#= link_to bank_users_path(@bank), class: 'link mb-2' do %>
    <%# <i class="fas fa-users"></i>
    <span>Manage Users</span> %>
  <%#end%>
  <%= link_to edit_bank_path(@bank), class: 'link mb-2' do %>
    <i class="far fa-edit"></i>
    <span>Edit Bank</span>
  <%end%>
  <%= link_to bank_path(@bank), method: :delete, class: 'link' , data: { confirm: 'This will permanently delete the bank. Are you sure?' } do %>
    <i class="far fa-trash-alt"></i>
    <span>Delete Bank</span>
  <%end%>
</div>
<%end%>
</div>
</div>

<div class="contain-color" id="subproducts">
  <h6 class="small_title"><%= @bank.name%>'s Subproducts</h6>
    <div class="cards">

      <% @subproducts.reverse.each do |b|%>
        <div class="bank-card">
          <p class="card_title"><strong><%= link_to "#{b.name}", bank_subproduct_path(@bank, b), class: 'card_title', style: "text-decoration: none;" %></strong></p>
          <p class="card_text"><strong>Status: </strong><span class=<%= b.active ? "text-success" : "text-danger"%>><%= b.active ? "Active" : "Inactive"%></span></p>
          <p class="card_text"><strong>Product Family: </strong><%= b.product.name %></p>
          <p class="card_text"><strong>Group: </strong> <%= b.group ? b.group.name : 'N/A' %></p>
          <p class="card_text"><strong>Total Price: </strong> € <%= b.prices.sum { |price| price.amount } %></p>

          
            <div class="card_action">
            <%= link_to bank_subproduct_path(@bank, b), class: 'link' do %> 
              <i class="fas fa-angle-right"></i>
              <span>See more</span>
            <%end%>
          <% if current_user.admin?%>
              <%= link_to edit_bank_subproduct_path(@bank, b), class: 'link' do %>
              <i class="far fa-edit"></i>
              <span>Edit</span>
              <%end%>
              <%= link_to subproduct_path(b), method: :delete, class: 'link' , data: { confirm: 'This will permanently delete the product. Are you sure?' } do %>
              <i class="far fa-trash-alt"></i>
              <span>Delete</span>
              <%end%>
          <%end%>
            </div>
        </div>
      <%end%>
    </div>
  <% if current_user.admin?%>
    <div class="text-center">
      <%= link_to 'Add New Subproduct', new_bank_subproduct_path(@bank), class: 'btn'%>
    </div>
  <%end%>
</div>

<%if current_user && current_user.admin? %>
<div class="contain" id="users">
  <h6 class="small_title"><%= @bank.name%>'s Users</h6>
    <% if @users.any?%>
    <div class="cards">

      <% @users.each do |b|%>
        <div class="bank-card">
          <p class="card_title"><strong><%= link_to "#{b.name}", '#', class: 'card_title', style: "text-decoration: none;" %></strong></p>
          <p class="card_text"><strong>Email:</strong><br><%= b.email %></p>
          <% if current_user.admin?%>
            <div class="card_action">
              <%= link_to edit_user_path(b), class: 'link' do %>
              <i class="far fa-edit"></i>
              <span>Edit</span>
              <%end%>
              <%= link_to user_path(b), method: :delete, class: 'link' , data: { confirm: 'This will permanently delete the product. Are you sure?' } do %>
              <i class="far fa-trash-alt"></i>
              <span>Delete</span>
              <%end%>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
    <%else%>
    <p class="text-center">Sorry, there are no users for this bank yet.</p>
    <%end%>

    <div class="text-center">
      <%= link_to 'Add New User', new_bank_user_path(@bank), class: 'btn'%>
    </div>
</div>
<%end%>

<div class="contain">
</div>


