<div class="contain pb-0">
  <% unless current_user.admin?%>
    <div class="crumbs">
      <%= link_to 'Banks', banks_path, class: 'link' %>
      <span> > <%= @bank.name.capitalize%></span>
    </div>
  <%end%>
</div>

<div class="bottom_nav">
  <span>Jump to: 
    <span><%= link_to 'Products', '#subproducts', class: 'nav_link' %></span>
    <% if current_user.admin?%>
    <span><%= link_to 'Users', '#users', class: 'nav_link' %></span>
    <%end%>
    <span><%= link_to 'Top', '#', class: 'nav_link' , id: 'scrollTop' %></span>
  </span>
</div>


  <div class="contain">
    <h1 class="mb-4"><%= @bank.name.capitalize %></h1>
    <div class="admin">
    <div class="details">
    <h3 class="mb-3">Details:</h3>
    <p><strong>Websites: </strong></p>
    <% @bank.websites.each do |w|%>
      <p><%= w.url%></p>
    <%end%>
    <p><strong>Address: </strong><%=@bank.address%></p>
    <p><strong>Country: </strong><%=@bank.country%></p>
    </div>


<% if current_user.admin?%>
<div class="actions">
  <h3 class="mb-3">Actions:</h3>
  <%= link_to bank_websites_path(@bank), class: 'link mb-2' do %>
    <i class="fas fa-link"></i>
    <span>Manage Websites</span>
  <%end%>
  <%#= link_to bank_users_path(@bank), class: 'link mb-2' do %>
    <%# <i class="fas fa-users"></i>
    <span>Manage Users</span> %>
  <%#end%>
  <%= link_to edit_bank_path(@bank), class: 'link mb-2' do %>
    <i class="far fa-edit"></i>
    <span>Edit Bank</span>
  <%end%>
  <%= link_to bank_path(@bank), method: :delete, class: 'link' , data: { confirm: 'This will permanently delete the bank. Are you sure?' } do %>
    <i class="far fa-trash-alt"></i>
    <span>Delete Bank</span>
  <%end%>
</div>
<%end%>
</div>
</div>

<div class="contain-color" id="subbproducts">
  <h6 class="small_title"><%= @bank.name.capitalize%>'s Subproducts offer</h6>
    <div class="cards">

      <% @subproducts.each do |b|%>
        <div class="bank-card">
          <p class="card_title"><strong><%= link_to "#{b.search_name}", '#', class: 'card_title', style: "text-decoration: none;" %></strong></p>
          <p class="card_text"><strong>Product Family:</strong><br><%= b.product.name %></p>
          <% if current_user.admin?%>
            <div class="card_action">
              <%= link_to '#', class: 'link mb-2' do %>
              <i class="far fa-edit"></i>
              <span>Edit Subproduct</span>
              <%end%>
              <%= link_to '#', method: :delete, class: 'link' , data: { confirm: 'This will permanently delete the bank. Are you sure?' } do %>
              <i class="far fa-trash-alt"></i>
              <span>Delete Subproduct</span>
              <%end%>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
  <% if current_user.admin?%>
    <%= link_to 'Add New Subproduct', new_bank_subproduct_path(@bank), class: 'btn'%>
  <%end%>
</div>

<%if current_user && current_user.admin?%>
<div class="contain" id="users">
  <h6 class="small_title"><%= @bank.name.capitalize%>'s Users</h6>
      <div class="cards">

      <% @users.each do |b|%>
        <div class="bank-card">
          <p class="card_title"><strong><%= link_to "#{b.name}", '#', class: 'card_title', style: "text-decoration: none;" %></strong></p>
          <p class="card_text"><strong>Email:</strong><br><%= b.email %></p>
          <% if current_user.admin?%>
          <div class="card_action">
          </div>
          <%end%>
        </div>
      <%end%>
    </div>
    <%= link_to 'Add New User', new_bank_user_path(@bank), class: 'btn'%>
</div>
<%end%>

<div class="contain">
  <%= link_to 'Back', banks_path, class: 'btn'%>
</div>

