  <%= simple_form_for [@bank, @user] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :name %>
      <% if params[:action] == "new" || params[:action] == "create"%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
