
<div class="menu">
  <div class="menu_section">
    <%= link_to root_path, class: "menu_link" do %>
      <%= image_tag "logo_icon.png" , class: 'menu_icon' %>
    <%end%>
  </div>

  <div class="menu_section">
    <% if user_signed_in? %>
      <%= link_to dashboard_path, class: "menu_link #{current_class?(dashboard_path)}" do%>
        <p>Dashboard</p>
      <%end%>
      <%= link_to destroy_user_session_path, class: "menu_link", method: :delete do%>
        <p>Logout</p>
      <%end%>
    <% else %>
      <%= link_to new_user_session_path, class: "menu_link #{current_class?(new_user_session_path)}" do%>
        <p>Login</p>
      <%end%>
    <%end%>
  </div>

</div>