
<div class="menu">
  <div class="menu_section">
    <%= link_to root_path, class: "menu_link" do %>
      <%= image_tag "logo_icon.png" , class: 'menu_icon' %>
    <%end%>
  </div>

  <div class="menu_section">
    <% if user_signed_in? %>
      <% if !current_user.admin?%>
        <%= link_to overview_path, class: "menu_link #{current_class?(overview_path)}" do%>
            <p>Compare</p>
        <%end%>
      <%end%>
      <% if current_user.admin?%>
        <%= link_to products_path, class: "menu_link #{current_class?(products_path)}" do%>
            <p>Products</p>
        <%end%>
      <%end%>
      <%= link_to banks_path, class: "menu_link #{current_class?(banks_path)}" do%>
          <p>Banks</p>
      <%end%>
      <%= link_to dashboard_path, class: "menu_link #{current_class?(dashboard_path)}" do%>
        <p>Dashboard</p>
      <%end%>
      <%= link_to destroy_user_session_path, class: "menu_link", method: :delete do%>
        <p>Logout</p>
      <%end%>
    <% else %>
      <%= link_to new_user_session_path, class: "menu_link #{current_class?(new_user_session_path)}" do%>
        <p>Login</p>
      <%end%>
    <%end%>
  </div>

</div>