<div class="contain mb-5">
<%= link_to 'Back', :back, class: 'btn-outline float-right'%>

</div>

<div class="container mb-5">
  <div class="row">    
    <div class="col-4">
      Fee
    </div>

    <div class="col-4">
      Cost
    </div>
  </div>

  <%# Subproduct.includes(price: :fee).order('fees.name ASC') %>
  <%# @subproduct.prices.order(:amount).each do |price| %>
  <% @subproduct.prices.each do |price| %>
    <div class="row">
      <div class="col-4">
        <%= price.fee.name %>
      </div>
      <div class="col-4">
        <%= price.amount %>
        <%= link_to edit_price_path(price) do %>
          <i class="far fa-edit"></i>
          <span>Edit</span>
        <%end%>
      </div>
    </div>
  <% end %>

  <div class="row border-top">
    <div class="col-4">Total</div>
    <div class="col-4">
      <%= @subproduct.prices.sum { |price| price.amount }%>
    </div>
  </div>
</div>