<div class="contain">
  <%= link_to 'Back', :back, class: 'btn-outline float-right'%>
  <h1><%= @subproduct.name%></h1>
  <h2 class="small_title"><%= @subproduct.bank.name.capitalize%></h2>
</div>

<%if current_user && current_user.admin?%>
  <div class="bottom_nav">
    <span>Jump to: 
      <%= link_to 'Table', '#table', class: 'nav_link' %>
      <%= link_to 'Requests', '#requests', class: 'nav_link' %>
      <%= link_to 'Top', '#', class: 'nav_link' , id: 'scrollTop' %>
    </span>
  </div>
<%end%>

<div class="contain-color">
  <div class="admin">
    <div class="table" id="table">
      <div class="cell">
        <p class="headers_title">Fee</p>
        <p class="headers_title">Cost
          <%if current_user && current_user.admin?%>
            /Edit
          <%end%>
        </p>
      </div>
      <% @subproduct.prices.each do |price| %>
        <div class="cell">
          <span class="cell_content"><%= link_to edit_subproduct_fee_path(@subproduct, price.fee) do %>
            <%= "(#{price.fee.active ? "Active" : "Inactive"}) #{price.fee.name} "%>
            <% end %>
          </span>
          <span class="cell_content">€ <%= "#{price.amount}"%>
          <%if current_user && current_user.admin?%>
            <%= link_to edit_price_path(price), class: 'link' do %>
              <i class="far fa-edit"></i>
            <%end%>
          <%end%>
          </span>
        </div>
      <%end%>
      <svg height="3" width="100%" class="mt-4">
        <line x1="0" y1="0" x2="100%" y2="0" />
      </svg>
        <div class="cell mt-4">
          <p class="cell_content bold">Total</p>
          <p class="cell_content bold">€ <%= @subproduct.prices.sum { |price| price.fee.active ? price.amount : 0} %></p>
        </div>
    </div>
    <% if current_user && current_user.admin?%>
      <%= link_to 'Add new fee', new_subproduct_fee_path(@subproduct), class:'btn' %>
    <%end%>
  </div>

</div>

<div class="contain mb-5 mt-5" id="requests">
  <% if current_user && current_user.admin? %>
  <h6 class="small_title">Requests for <%= @subproduct.name%></h6>
  <div class="cards">
    <% @subproduct.prices.reverse.each do |p|%>
      <div class="card card-noheight" id="request_<%= p.document.request.id%>">
        <p class="card_title">Document #<%= p.document.id %></p>
        <p class="card_text"><strong>Content:</strong> <%= p.document.request.content%></p>
        <p class="card_text"><strong>Bank:</strong> <%= link_to p.document.bank.name.capitalize, bank_path(p.bank), class: 'link' %></p>
        <p class="card_text"><strong>Cost:</strong> <%= p.amount %></p>
        <p class="card_text"><strong>Fee:</strong> <%= p.fee.name %></p>
        <p class="card_text"><strong>Product Family:</strong> <%= p.subproduct.product.name%></p>
        <p class="card_text"><strong>Files:</strong> <%= p.document.file_url%></p>
        <p class="card_text"><strong>Date added:</strong> <%= p.document.request.created_at.strftime("%d/%m/%Y at %I:%M%p")%></p>
        <p class="card_text"><strong>Status:</strong> <%= p.document.request.status.capitalize%></p>
      </div>
    <%end%>
  </div>
  <%end%>
</div>

<%# <div class="container mb-5">
  <div class="row">    
    <div class="col-4">
      Fee
    </div>

    <div class="col-4">
      Cost
    </div>
  </div> %>

  <%# Subproduct.includes(price: :fee).order('fees.name ASC') %>
  <%# @subproduct.prices.order(:amount).each do |price| %>
  <%# @subproduct.prices.each do |price| %>
    <%# <div class="row">
      <div class="col-4">
        <%#= price.fee.name %>
      <%# </div>
      <div class="col-4"> %>
        <%#= price.amount %>
        <%#= link_to edit_price_path(price) do %>
          <%# <i class="far fa-edit"></i>
          <span>Edit</span>
        <%#end%>
      <%# </div>
    </div> %> 
  <%# end %>

  <%# <div class="row border-top">
    <div class="col-4">Total</div>
    <div class="col-4"> %>
      <%#= @subproduct.prices.sum { |price| price.amount } %>
    <%# </div>
  </div>
</div>  %>