<div class="contain">
  <%#= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'link right' %>
  <h1>Welcome to your dashboard</h1>
  <h6>Admin: <%=current_user.name%></h6>
    <div class="bottom_nav">
      <span>Jump to: 
        <%= link_to 'Pending', '#pending', class: 'nav_link' %>
        <%= link_to 'Completed', '#completed', class: 'nav_link' %>
        <%= link_to 'Top', '#', class: 'nav_link' , id: 'scrollTop' %>
      </span>
    </div>

</div>
<% if @pending.any? %>
  <div class="contain-color" id="pending">
    <h6 class="small_title">Pending Requests</h6>
    <div class="cards">
      <% @pending.each do |p|%>
          <div class="card card-taller" id="request_<%= p.request.id%>">
            <p class="card_title">Request #<%= p.request.id %></p>
            <p class="card_text"><strong>Status:</strong> <%= p.request.status.capitalize%></p>
            <p class="card_text"><strong>Content:</strong> <%= p.request.content%></p>
            <p class="card_text"><strong>Bank:</strong> <%= link_to p.bank.name, bank_path(p.bank), class: 'link' %></p>
            <p class="card_text"><strong>Products:</strong> </p>
              <% p.prices[1..4].each do |p|%>
              <p class="card_text">
                <%= link_to p.subproduct.name.capitalize, subproduct_path(p.subproduct), class: 'link'%>
              </p>
              <%end%>
            <br>
            <%# <p class="card_text card_text-small"><strong>Fees:</strong> %>
              <%#p.prices.each do |p|%>
                <%#= p.fee.name %>
              <%#end%>
            <%# </p> %>
            <p class="card_text card_text-small"><strong>Files:</strong> <%= p.file_url%></p>
            <p class="card_text card_text-small"><strong>Date added:</strong> <%= p.request.created_at.strftime("%d/%m/%Y at %I:%M%p")%></p>
            <div class="card_action">
                <%#= link_to subproduct_path(p.subproduct), class: 'link' do %> 
                  <%# <i class="fas fa-angle-right"></i>
                  <span>See more</span> %>
                <%#end%>
                <%= link_to request_path(p.request), method: :patch, class: 'link' do%>
                  <i class="far fa-check-circle"></i>
                  <span>Mark as done</span>
                <%end%>
            </div>
          </div>

      <%end%>
    </div>
  </div>
<%end%>

<div class="contain" id="completed">
<h6 class="small_title">Completed Requests</h6>
  <div class="cards">
      <% @completed.each do |p|%>
          <div class="card card-taller card-color" id="request_<%= p.request.id%>">
            <p class="card_title">Request #<%= p.request.id %></p>
            <p class="card_text"><strong>Status:</strong> <%= p.request.status.capitalize%></p>
            <p class="card_text"><strong>Content:</strong> <%= p.request.content%></p>
            <p class="card_text"><strong>Bank:</strong> <%= link_to p.bank.name, bank_path(p.bank), class: 'link' %></p>
            <p class="card_text"><strong>Products:</strong> </p>
              <% p.prices[1..4].each do |p|%>
              <p class="card_text">
                <%= link_to p.subproduct.name.capitalize, subproduct_path(p.subproduct), class: 'link success'%>
              </p>
              <%end%>
            
            <%# <p class="card_text card_text-small"><strong>Fees:</strong> %>
              <%#p.prices.each do |p|%>
                <%#= p.fee.name %>
              <%#end%>
            <%# </p> %>
            <br>
            <p class="card_text card_text-small"><strong>Files:</strong> <%= p.file_url%></p>
            <p class="card_text card_text-small"><strong>Date added:</strong> <%= p.request.created_at.strftime("%d/%m/%Y at %I:%M%p")%></p>
            <div class="card_action success">
                <%#= link_to subproduct_path(p.subproduct), class: 'link' do %> 
                  <%# <i class="fas fa-angle-right"></i>
                  <span>See more</span> %>
                <%#end%>
                
                  <i class="far fa-check-circle"></i>
            
            </div>
          </div>

      <%end%>
  </div>
</div>





