<div class="contain">
  <%#= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'link right' %>
  <h1>Welcome to your dashboard</h1>
  <h6>Admin: <%=current_user.name%></h6>
    <div class="bottom_nav">
      <span>Jump to: 
        <span><%= link_to 'Pending', '#pending', class: 'nav_link' %></span>
        <span><%= link_to 'Completed', '#completed', class: 'nav_link' %></span>
        <span><%= link_to 'Top', '#', class: 'nav_link' , id: 'scrollTop' %></span>
      </span>
    </div>

</div>

<div class="contain-color" id="pending">
  <h6 class="small_title">Pending Requests</h6>
  <div class="cards">
    <% @pending.each do |p|%>
      <% p.prices.each do |p| %>
        <div class="card card-taller" id="request_<%= p.document.request.id%>">
          <p class="card_title">Request #<%= p.document.id %></p>
          <p class="card_text card_text-small"><strong>Content:</strong> <%= p.document.request.content%></p>
          <p class="card_text card_text-small"><strong>Bank:</strong> <%= link_to p.document.bank.name.capitalize, bank_path(p.bank), class: 'link' %></p>
          <p class="card_text card_text-small"><strong>Product:</strong> <%= link_to p.subproduct.name.capitalize, subproduct_path(p.subproduct), class: 'link'%></p>
          <p class="card_text card_text-small"><strong>Fee:</strong> <%= p.fee.name %></p>
          <p class="card_text card_text-small"><strong>Cost:</strong> <%= p.amount %></p>
          <p class="card_text card_text-small"><strong>Files:</strong> <%= p.document.file_url%></p>
          <p class="card_text card_text-small"><strong>Product Family:</strong> <%= p.subproduct.product.name%></p>
          <p class="card_text card_text-small"><strong>Date added:</strong> <%= p.document.request.created_at.strftime("%d/%m/%Y at %I:%M%p")%></p>
          <p class="card_text card_text-small"><strong>Status:</strong> <%= p.document.request.status.capitalize%></p>
          <div class="card_action">
              <%= link_to subproduct_path(p.subproduct), class: 'link' do %> 
                <i class="fas fa-angle-right"></i>
                <span>See more</span>
              <%end%>
              <%= link_to request_path(p.document.request), method: :patch, class: 'link' do%>
                <i class="far fa-check-circle"></i>
                <span>Mark as done</span>
              <%end%>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
<div class="contain" id="completed">
<h6 class="small_title">Completed Requests</h6>
  <div class="cards">
    <% @completed.reverse.each do |p|%>
      <% p.prices.each do |p| %>
        <div class="card card-taller card-color" id="request_<%= p.document.request.id%>">
          <p class="card_title">Request #<%= p.document.id %></p>
          <p class="card_text card_text-small"><strong>Bank:</strong> <%= link_to p.document.bank.name.capitalize, bank_path(p.bank), class: 'success' %></p>
          <p class="card_text card_text-small"><strong>Product:</strong> <%= link_to p.subproduct.name.capitalize, subproduct_path(p.subproduct), class: 'success'%></p>
          <p class="card_text card_text-small"><strong>Fee:</strong> <%= p.fee.name %></p>
          <p class="card_text card_text-small"><strong>Files:</strong> <%= p.document.file_url%></p>
          <p class="card_text card_text-small"><strong>Product Family:</strong> <%= p.subproduct.product.name%></p>
          <p class="card_text-small card_text"><strong>Date added:</strong> <%= p.document.request.created_at.strftime("%d/%m/%Y at %I:%M%p")%></p>
          <div class="card_action">
            <div class="actions">
              <i class="far fa-check-circle success"></i>   
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>





