<div class="contain-color mt-0">
  <% p = @products.find_by(name: params[:id])%>
  <% subs = @subproducts.where(product: p)%>
  <% groups = []%>
  <% subs.each do |s|%>
    <% unless s.group.nil? %>
    <% groups << s.group %>
    <%end%>
  <%end%>
  <% groups = groups.uniq %>
  <% groups.count %>
  
  <% my_subs = subs.where(bank: @my_bank)%>
  <% my_subs.count%>
  <% other_subs = subs.reject { |s| s.bank == @my_bank }%>
  <% other_subs.count%>
  <h2 class="small_title"><%=@my_bank.name%>'s subproducts tot: <%= my_subs.count%></h2>


  <div class="chart_form ">
    <div class="chart_group hidden">
        
        <% groups.each_with_index do | g, i |%>
            <% user_bank_subs_for_current_group = my_subs.where(group: g) %>
            <% my_price = user_bank_subs_for_current_group.sum do |subproduct|%>
              <% subproduct.prices.sum { |price| price.fee.active ? price.amount : 0 }%> 
            <%end%>
            <% my_sub_count = user_bank_subs_for_current_group.count == 0 ? 1 : user_bank_subs_for_current_group.count %>
            <% my_avg = my_price.to_i/my_sub_count.to_i%>
      
            <% tot_subproducts_for_current_group = subs.where(group: g) %>
            <%= tot_subproducts_for_current_group.count %>
            <% banks_that_have_this_subproducts = []%>
            <% g.banks.each do |b|%>
              <% banks_that_have_this_subproducts << b.name%>
            <%end%>
            <%= banks_that_have_this_subproducts = banks_that_have_this_subproducts.uniq %>
            <%= banks_that_have_this_subproducts.count %>
            <% prices = tot_subproducts_for_current_group.sum do |subproduct|%>
              <% subproduct.prices.sum { |price| price.fee.active ? price.amount : 0 }%> 
            <%end%>
            <% avg = prices.to_i/tot_subproducts_for_current_group.count.to_i%>
            <%= avg_subproducts_offer_per_bank = (tot_subproducts_for_current_group.count.to_i/banks_that_have_this_subproducts.count.to_f).round(1)%>

            <select class="sub-count" name="subproducts" id="<%=i%>">
              <option value="<%= user_bank_subs_for_current_group%>"
              id="<%= i %>"
              data-tot="<%= my_avg %>"
              data-bank="<%= g.name %> - <%= user_bank_subs_for_current_group.count%> accounts"
              >
              <%= user_bank_subs_for_current_group%>
              </option>
            </select>
            <select class="sub-count" name="subproducts" id="<%=i%>">
              <option value="<%= avg%>"
              id="<%= i %>"
              data-tot="<%= avg %>"
              data-bank="<%= g.name%> AVG - <%= avg_subproducts_offer_per_bank%> accounts"
              >
              <%= avg%>
              </option>
            </select>
        <%end%>
    </div>
  </div>
  <canvas id="subproduct-chart" height="300" width="960"></canvas>
  <div class="chart_form">
    <div class="chart_group">
       <select class="select-group" name="subproducts" id="update_other_bank_groups">
          <% my_groups = groups.select do |g|%>
            <% g.banks.where(name: @my_bank.name)%>
          <%end%>
          <% my_groups.each_with_index do |g, i|%>
            <% user_bank_subs_for_current_group = my_subs.where(group: g) %>
           <% my_price = user_bank_subs_for_current_group.sum do |subproduct|%>
              <% subproduct.prices.sum { |price| price.fee.active ? price.amount : 0 }%> 
            <%end%>
            <% my_sub_count = user_bank_subs_for_current_group.count == 0 ? 1 : user_bank_subs_for_current_group.count %>
            <% my_avg = my_price.to_i/my_sub_count.to_i%>
            <option value="<%= g.name%>"
            id="<%= i %>"
            data-tot="<%= my_avg %>"
            data-bank="<%= g.name%>"
            >
            <%= g.name%>
            </option>
          <%end%>       
      </select>
    </div>
    <div class="chart_group hidden">
      <% @other_banks.each_with_index do |b, i|%>
          <select class="select-group" name="subproducts" id="<%=i+1%>">
            <% uniq_groups_current_bank = b.groups.uniq{ |g| g.id }%>
          <% uniq_groups_current_bank.each do |g|%>

            <% prices = g.subproducts.where(bank: b).sum do |subproduct| %>
              <% subproduct.prices.sum { |price| price.fee.active ? price.amount : 0 }%>
            <%end%>
            <% tot_subproducts_per_bank = g.subproducts.where(bank: b).count%>
            <% avg = prices.to_i/tot_subproducts_per_bank.to_i%>
            
            <option value="<%= g.name%>"
            id="<%= i %>"
            data-tot="<%= avg %>"
            data-bank="<%= b.name%>"
            >
            <%= g.name%><%= avg%>
            </option>
          <%end%>

          </select>
      <%end%>
    </div>

  </div>
  <%# <button id="compare-btn" class="btn mt-3 mb-3">Compare</button> %>
  <canvas id="one-subproduct-all-bank-chart" height="300" width="960"></canvas>
</div>