<div class="hero" style="background-image: url('<%= image_path "bg_bank.jpg" %>')">
  <div class="hero_shadow">
    <h1 class="hero_title">Welcome to Matrix</h1>
    <p class="hero_claim">Price Analysis Tool for the Banking Sector</p>
    <%= link_to 'Learn more', '#values', class: 'btn'%>
  </div>
</div>

<div class="container" id="values">
  <div class="proposition">
    <div class="value">
    <i class="fas fa-cogs"></i>
    <h3 class="small_title">Automate</h3>
    <p class="h5">Matrix automatically scrapes data from official sources to provide you with the most up-to-date pricing information on banking products</p>
    </div>
    <div class="value">
    <i class="fas fa-chart-bar"></i>
    <h3 class="small_title">Compare</h3>
    <p class="h5">Matrix facilitates data-informed decisions with a sleek dashboard to visualize comparisons across the market.</p>
    </div>
    <div class="value">
    <i class="fas fa-record-vinyl"></i>
    <h3 class="small_title">Target</h3>
    <p class="h5">Matrix displays the suproduct offers and price lists of your competitors, enabling you to refine your strategy and increase profit.</p>
    </div>
  </div>

  <div class="action">
    <p class="action_claim">Ready to go?</p>
    
    <% if current_user && current_user.admin? %>
      <%= link_to 'Get started', dashboard_path, class: 'btn'%>
    <%elsif current_user && !current_user.admin? %>
      <%= link_to 'Get started', banks_path, class: 'btn'%>
    <%else%>
      <%= link_to 'Get started', dashboard_path, class: 'btn'%>
    <%end%>
  </div>
</div>
