

<div class="contain-color">
  <h2 class="small_title">Compare products</h2>
  <div class="chart-form">
  <label for="banks">Choose one of your products:</label>
    <select class="select-subproduct" name="subproducts" id="form-1">
    <% @my_subproducts.sort.each_with_index do |b, i| %>
      <option value=<%= "#{b.name.split.join("-")}"%> id="<%= i%>"data-sub-price="<%= b.prices.sum { |price| price.amount } %>"><%= b.name.capitalize %></option>
    <% end %>
  </select>
  <label for="banks">Choose comparison product:</label>
    <select class="select-subproduct" name="subproducts" id="form-2">
    <% @other_subproducts.sort.each_with_index do |b, i| %>
      <option value=<%= "#{b.name.split.join("-")}"%> data-sub-price="<%= b.prices.sum { |price| price.amount } %>" data-bank="<%=b.bank.name%>"><%= b.name.capitalize%> - <%= b.bank.name.capitalize%></option>
    <% end %>
  </select>
  <button id="compare-btn" class="btn">Compare</button>
  <canvas id="product-chart" width="960" height="300"></canvas>

  </div>

</div>
<div class="contain">
</div>
