<div class="contain pb-0">
    <div class="tabs_nav">
      <% @products.each do |p|%>
        <a class="<%= 'selected' if params[:id] == p.name %> item" id="<%=p.name%>" title="<%=p.name%>" href="/overview/tab=<%=p.name%>"><%=p.name%></a>
      <%end%>
    </div>
</div>
<div class="tab">
  <div class="tab-content">
    <%= render 'tab', locals: { tab: params[:id] } %>
  </div>
</div>
<div class="contain"></div>









