<div class="container w-25 my-5">
  <%= simple_form_for [@subproduct, @fee] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :product %>
      <%= f.input :name %>
      <%= f.input :search_name %>
      <%= f.input :category %>
      <%= f.input :active %>
    </div>

    <div class="form-actions mb-5">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>