<div class="container text-center mx-auto">
  <h1 class="mt-5 mb-4">Products</h1>


</div>

<% @products.each do |p|%>
  <div class="contain-color">
    <h5 class="small_text"><%= p.name%>, tot. <%= p.subproducts.count%></h5>

      <div class="cards">

        <% p.subproducts.each do |b|%>
          <div class="bank-card">
            <p class="card_title"><strong><%= link_to "#{b.name}", '#', class: 'card_title', style: "text-decoration: none;" %></strong></p>
            <p class="card_text"><strong>Bank:</strong><br><%= b.bank.name %></p>
            <p class="card_text"><strong>Current Price:</strong><br>$ 0</p>
            <div class="card_action">
              <% if current_user && current_user.admin?%>
                <div class="actions">
                  <%= link_to '#' do %>
                  <i class="far fa-edit"></i>
                  <% end %>
                  <%= link_to '#' do %>
                  <i class="far fa-trash-alt"></i>
                  <% end %>
              <%end%>
            </div>
          </div>

        <%end%>
      </div>
  </div>
<%end%>

<div class="contain">
<% if current_user.admin?%>
  <%= link_to "Create new product", new_product_path, class: "btn btn-primary my-5" %>
<%end%>
</div>