<div class="contain">
  <h1 class="mb-4">Products</h1>
    <% @products.each do |p|%>
    <ul class="product_list">
      <li> <%=link_to "#sub_#{p.id}", class: 'link'   do%>
      <%= p.name%>, tot. <%=p.subproducts.count%>
      <%end%>
        <% if current_user && current_user.admin? %>
          <%= link_to product_path(p), method: :delete, data: { confirm: 'This action will also delete all the subproducts. Are you sure?'} do %>
            <i class="far fa-trash-alt"></i>
            <%# <span>Delete</span> %>
          <%end%>
        <%end%>
      </li>
    </ul>
    <%end%>
  <% if current_user.admin?%>
  <%= link_to "Add new product family", new_product_path, class: "btn" %>
<%end%>
</div>
<div class="bottom_nav">
  <span>Jump to: 
    <% @products.each do |p|%>
      <span><%= link_to p.name, "#sub_#{p.id}", class: 'nav_link' %></span>
    <%end%>
    <span><%= link_to 'Top', '#', class: 'nav_link' , id: 'scrollTop' %></span>
</div>

<% @products.each_with_index do |p, index|%>
    <% if index.even?%>
    <div class="contain-color" id="sub_<%= p.id%>">
    <%else%>
    <div class="contain" id="sub_<%= p.id%>">
    <%end%>
    <h5 class="small_title"><%= p.name%></h5>
      <% if current_user && current_user.admin? %>
        <%= link_to 'add subproduct', new_product_subproduct_path(p), class: 'btn'%>
        <%end%>
      <div class="cards">
        <% p.subproducts.each do |b|%>
          <div class="bank-card">
            <p class="card_title"><strong><%= link_to "#{b.name}", subproduct_path(b), class: 'card_title', style: "text-decoration: none;" %></strong></p>
            <p class="card_text"><strong>Bank:</strong> <%= link_to b.bank.name.capitalize, bank_path(b.bank), class: 'link'   %></p>
            <p class="card_text"><strong>Total Price:</strong> $ <%= b.prices.sum { |price| price.amount } %></p>
            <p class="card_text"><strong>Fees:</strong>
            <span class="small_text">
              <% b.product.fees[0..2].each do |f| %><br>
                <%= f.name%>
              <%end%>
            </span>
            <span>...</span>
            </p>
                <div class="card_action">
                      <%= link_to subproduct_path(b), class: 'link' do %> 
                      <i class="fas fa-angle-right"></i>
                      <span>See more</span>
                      <%end%>
              <% if current_user && current_user.admin? %>
                      <%= link_to edit_subproduct_path(b) do %>
                      <i class="far fa-edit"></i>
                      <span>Edit</span>
                      <% end %>
                      <%= link_to subproduct_path(b), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="far fa-trash-alt"></i>
                      <span>Delete</span>
                      <% end %>
              <%end%>
                </div>
          </div>

        <%end%>
      </div>
  </div>
<%end%>

<div class="contain">

</div>